div{
  width: 400px;
  height: 400px;
text-align: center;
color: green;
border: 5px dotted white ;
border-radius: 10px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);

}
p{
  font-size: 50px;
  margin-top: 70px;
} 
button{
  border-color: black;
  border-radius: 10px;
  font-size: 30px;
  padding: 5px 30px;
 margin:50px 0px 10px 10px;
 

}